/* khmer */
@font-face {
  font-family: 'KhmerOScontent';
  font-style: all;   
  src: local('KhmerOScontent'), url('../fonts/khmer/KhmerOScontent.ttf') format('truetype');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}
/* khmer */
@font-face {
  font-family: 'Moul';
  font-style: all;   
  src: local('Moul'), url('../fonts/moul/KhmerOSmuollight_0.ttf') format('truetype');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}

:lang(zh) {
  font-family: 'SimSun';
}

:lang(km) {
  font-family: 'KhmerOScontent';
}

:lang(en) {
  font-family: TimesNewRoman, "Times New Roman", Arial, Helvetica, , sans-serif;
}

/*html * {
  font-family: "KhmerOScontent", TimesNewRoman, "Times New Roman", Arial, Helvetica, , sans-serif;
  font-size: 12pt;
  line-height: 22pt;
}*/

body {
  background-color: rgba(0,0,0,0);
}

/*input[type=text]  {
  font-family: "KhmerOScontent", TimesNewRoman, "Times New Roman", Arial, Helvetica, sans-serif;
}*/

ul, p { 
  margin: 0;
  padding: 0;
} 

ul {
  list-style: none;
}

ul li {
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: left;
}

ul li:before  {
  content: "- ";
  padding-right: 5px;
}

p {
  padding-bottom: 12px;
  font-size: 12pt;
  text-align: justify;
  line-height: 24pt;
}

p.first-indent {
  text-indent: 50px;
}

p.second-indent {
  text-indent: 30px;
}

small, small i,  small b {
  font-size: 9pt !important;
  line-height: 16pt !important;
} 

.english {
  font-family: TimesNewRoman, "Times New Roman", Arial, Helvetica , sans-serif;
  font-size: 13pt;
  line-height: 16pt;
  text-align: left;
}

.english:after {
  content: " ";
}

.khmer-title {
  font-family: "Moul", "KhmerOScontent", sans-serif; 
}

.khmer {
  font-family: "KhmerOScontent", sans-serif; 
}

h1.khmer-title, h1.english, h1.khmer, h1.zh{
  font-size: 20pt;
  line-height: 30pt;
}

h2.khmer-title, h2.english, h2.khmer, h2.zh {
  font-size: 18pt;
  line-height: 28pt;
}

h3.khmer-title, h3.english, h3.khmer, h3.zh {
  font-size: 16pt;
  line-height: 24pt;
}

h4.khmer-title, h4.english, h4.khmer, h4.zh {
  font-size: 14pt;
  line-height: 24pt;
}

h5.khmer-title, h5.english, h5.khmer, h5.zh {
  font-size: 12pt;
  line-height: 20pt;
}

h6.khmer-title, h6.english, h6.khmer, h6.zh {
  font-size: 11pt;
  line-height: 18pt;
}

ul li.zh, ul li.khmer {
  font-size: 12pt;
  line-height: 24pt;
}

.moul-font {
  font-family: "Moul", "KhmerOScontent", sans-serif;  
} 

.text-center {
  text-align: center;
} 

.text-bold {
  font-weight: bold;
}

.khmer span.text-bold {
  font-family: "KhmerOScontent";
}

.table-sm th, .table-sm td {
  padding: 0.1rem 0.3rem;
}

table.table-p-1 tr td{
  padding: 8px;
  font-size: 12pt;
  line-height: 22pt;
}

.table-contract-bordered tr td {
  border: 1px dotted #7c7c7c;
}

.table-contract-bordered tr:first-child td {
  border-top: 1px solid #000;  
}
.table-contract-bordered tr:first-child td {
  border-top: 1px solid #000;
}
.table-contract-bordered tr td:first-child {
  border-left: 1px solid #000;
}
.table-contract-bordered tr td:last-child {
  border-right: 1px solid #000;
}

.table-contract-bordered tr:last-child td {
  border-bottom: 1px solid #000;
}

.bg-grey {
  background-color: #f3f3f3;
}

.project-logo {
  position: absolute;
  top: 30px;
  left: 0px;
}

table.table-p-1 tr td{
  padding: 8px;
}
.v-align-top tr td {
  vertical-align: top;
  text-align: left;
}
thead { display: table-header-group !important; }
tfoot { display: table-row-group !important; }
tr { page-break-inside: avoid !important; }

.page-break-before {
  page-break-before: always;
}

.page-break-after {
  page-break-after: always;
}

.text-justify {
  text-align: justify;
}