/* khmer */
@font-face {
  font-family: 'Battambang', cursive;
}
/* khmer */
@font-face {
  font-family: 'Moul';
  font-style: all;   
  src: local('Moul'), url('../fonts/moul/moul.ttf') format('truetype');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}

/* khmer */ 
body {
  background-color: rgba(0,0,0,0);
}

.english-font {
  font-family: TimesNewRoman, "Times New Roman", Arial, Helvetica , sans-serif;
  font-size: 14pt;
  letter-spacing: 0px !important;
}

.english-font:after {
  content: " ";
}

p, ul, ul li {
  font-family: "Battambang", TimesNewRoman, "Times New Roman", Arial, Helvetica, sans-serif;
  font-size: 15pt;
  line-height: 28pt;
  margin-top: 0;
  margin-bottom: 8pt;
  text-align: justify;
}
label{
  font-family: "Battambang", TimesNewRoman, "Times New Roman", Arial, Helvetica, sans-serif;
  font-size: 11pt;
  line-height: 22pt;
  margin-top: 0;
  margin-bottom: 0pt;
}

input[type=text]  {
   font-family: "Battambang", TimesNewRoman, "Times New Roman", Arial, Helvetica, sans-serif;
}
ul {
  list-style: none;
}
ul li {
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: left;
}
ul li:before  {
  content: "- ";
  padding-right: 5px;
}
.text-lg {
  font-size: 17pt;
  line-height: 34pt;
}
.text-sm {
  font-size: 11pt;
  line-height: 24pt;
}
p.first-indent {
  text-indent: 50px;
}
p.second-indent {
  text-indent: 30px;
}
h2.main-title {  
  font-family: "Moul", "Battambang", sans-serif; 
  font-size: 20pt;
  line-height: 32pt;
  letter-spacing: 0px !important;
}
h4 {
  font-family: "Moul", "Battambang", sans-serif;
  font-size: 16pt;
  line-height: 26pt;
  letter-spacing: 0px !important;
}
h5 {
  font-family: "Moul", "Battambang", sans-serif;
  font-size: 11pt;
  line-height: 22pt;
  letter-spacing: 0px !important;
}
.moul-font {
  font-family: "Moul", "Battambang", sans-serif;  
} 
.Battambang-font {
  font-family: "Battambang", sans-serif;  
}
.text-center {
  text-align: center;
} 
ul p { 
  margin: 0;
  padding: 0;
} 
.text-bold {
  font-weight: bold;
} 
.table-sm th, .table-sm td {
  padding: 0.1rem 0.3rem;

}
.bg-grey {
  background-color: #f3f3f3;
}
.v-align-top tr td {
  vertical-align: top;
  text-align: left;
}
thead { display: table-header-group !important; }
tfoot { display: table-row-group !important; }
tr { page-break-inside: avoid !important; }