@font-face {
  font-family: 'khmerOsContent';
  font-style: all;   
  src: local('khmerOsContent'), url('../fonts/khmer/KhmerOScontent.ttf') format('truetype');
  unicode-range: U+1780-17FF, U+200C, U+25CC;
}

body {
    font-family: "Nunito", "khmerOsContent", sans-serif, cursive;
}
.alert ul {
    margin-bottom: 0px;
}

a:hover{
    text-decoration: none;
}

.text-warning {
    color: #ffc107 !important;
}

table ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;
}

ul.pagination {
    margin-top: 1rem;
    margin-bottom: 1rem;
    float: right;
}

.user-avatar-50 {
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
    border: 1px solid #949494 !important;
}

ul.action-list li:after {
    content: " | ";        
}

.nav-tabs-full li {
    flex-grow: 1;        
}
.nav-tabs-full li.nav-item a.nav-link {
    border-radius: 0px !important;
    text-align: center;        
}

.nav-tabs-full li.nav-item a.active {
    background: #3490dc;
    border: 1px solid #3490dc;
    color :#ffffff;
}

.table-action tbody tr td .title{
    font-size: 16px;
    font-weight: bold;
    display: inline-block;        
}

.table-action tbody tr td.action-td:hover ul.action-list {
    display: block;
    visibility: visible;
}

ul.action-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: none;
    visibility: hidden;
}

ul.action-list li {
    display: inline;
}
ul.action-list li a:hover {
    text-decoration: none;
}

ul.action-list li:last-child:after {
    content: "";
}
.noti-item a {
    display: block; 
}

.text-couple li {
    padding : 0px;
    margin: 0px 0px 0.5rem 0px;
}

.text-couple li:last-child {
    margin-bottom: 0px;
}

.text-couple small {
    display: block;
}

.text-couple p {
    margin: 0px;
    padding: 0px;
    line-height: 1rem;
}

.text-couple span.title {
    font-size: 0.8rem !important;
    font-weight: bold;
}

.thumbnail-wrapper {
    position: relative;
    width : 150px;
    padding : 0.50rem;
}

.table-couple {
    width: 100%;
}
.table-couple tr td {
    border : 1px solid #ccc;
    padding : 0.1rem 0.5rem;
    text-align: left;
    vertical-align: middle;
}

.bg-grey {
    background: #f3f3f3;
}

.table-couple tr td.title {
    background: #f3f3f3;
}
.table-couple tr td.text {
   font-weight: bold;
}

.thumbnial-delete-btn {
    position: absolute;
    top: -15px;
    right: -13px;
    padding: 4px 4px 0px 4px;
    line-height: 1.2rem;
}
.thumbnial-delete-btn i {
    font-size: 1.2rem;
}

/*extend bootstrap card*/
.card-sub-header {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;  
}
.card-sub-header .sub-header-box-wrapper {
    padding : 1.25rem 1.25rem 1rem 1.25rem;
}
.card-bg-grey {
    background-color: #f0f0f0;   
}
/*End extend bootstrap card*/

/*Override bootstrap 4 select2 */
.select2-container--bootstrap4 .select2-selection--single {
    height: calc(2.19rem + 2px);
    padding : 0.45rem 0.75rem;

}

.select2-container--bootstrap4 .select2-results__option {
    font-size : 0.9rem;
    padding : 0.35rem 0.75rem;
}

.select2-selection__rendered {
    font-size: 0.9rem;
    line-height: 1.6;
}

.select2-container--bootstrap4 .select2-results > .select2-results__options {
    max-height: 300px !important;    
}

.inline-select, .inline-input {
    border: 0px;
    border-bottom: 1px dashed #aaa;
}
/*Override bootstrap 4 select2 */

/*Extend Bootstrap Button*/
a.btn-flat, button.btn-flat {
    border-radius: 0px;
}

.form-group .form-control-flat {
    border-radius: 0px;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

/*End Extend Bootstrap Button*/

/*Utilities classes*/
.content-nowrap{
    white-space: nowrap;
}

[data-toggle="collapse"] {  
    padding:0px;   
}
.card-body .category-card {
    max-height: 250px;
}
/*End Utilities Classes*/

/*youtube play button */
.youtube-video-summernote { 
    display: inline-block;
    position: relative;   
} 

.youtube-video-summernote:after {
    content: '';
    position: absolute;
    top: 0; right: 0;
    bottom: 0; left: 0;
    background-image: url('https://img.icons8.com/color/96/000000/youtube-play.png');
    background-repeat: no-repeat;
    background-position: center;
}
/*End Youtube play button */

/* infinite-loading */
.infinite-loading-container-custom {
    width: 100% !important;
    padding: 20px;
    text-align: center;
    position: absolute;
    border-top: 1px solid lightgray;
}
/* End infinite-loading */